.page {
  height: 100vh;
  &__card {
    &--dark {
      color: #96D518;
      background-color: #1f272d;
    }
    &__title{
      &--upper{
        text-transform: uppercase;
      }
    }
  }

  &__btn {
    &--dark {
      background-color: #a6dc4c;
    }
  }
}

.main--dark {
  background-color: #131b21;
}
